<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />
<link rel="stylesheet" th:href="@{/css/theme.css}"
	href="../../css/theme.css" />

</head>
<body>

	<h1>Hello</h1>

	<script type="text/javascript" src="../../js/jquery.min.js"></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>

</body>

</html>